#map {
    margin: 4.5em 0 0 0;
    position: relative;
    height: 45em;
    width: 100%;
}

.webapp-media-block-container{
    width: 100%;
}

.webapp-media-block {
    /*border: 1px solid black;*/
    width: 100%;
    padding: 1em;
}

/*Two media blocks*/
@media only screen and (min-width: 40em) {
    .webapp-media-block-container {
        width: 100%;
    }

    .webapp-media-block {
        width: 50%;
        display: inline;
        padding: 1em;
        float: left;
    }

    #map {
        height: 50em;
    }
}

/*Three media blocks*/
@media only screen and (min-width: 55em) {
    .webapp-media-block-container {
        width: 100%;
    }

    .webapp-media-block {
        width: 50%;
        display: inline;
        padding: 1em;
        float: left;
    }

    #map {
        height: 60em;
    }

}


input[type="text"] {
    width: 20em;
}
