#map {
    margin: 4.5em 0 0 0;
    position: relative;
    height: 45em;
    width: 100%;
}

.webapp-media-block-container{
    width: 100%;
}

.webapp-media-block {
    width: 100%;
    padding: 1em;
}

.map-list-element {
    width: 100%;
    min-height: 5em;
    border: 1px solid lightgray;
    background-image: url('../img/world.gif');
}

.map-list-element .title{
    margin-top: 2em;
    margin-left: 2em;
    width: 5em;
    display: inline-block;
}

.map-list-element .delete-button {
    margin-top: 1em;
    margin-right: 2em;
    display: inline-block;
    width: 5em;
    float: right;
}


input[type="text"] {
    width: 20em;
}


/*Two media blocks*/
@media only screen and (min-width: 40em) {
    .webapp-media-block-container {
        width: 100%;
    }

    .webapp-media-block {
        width: 50%;
        display: inline;
        padding: 1em;
        float: left;
    }

    #map {
        height: 50em;
    }
}

/*Three media blocks*/
@media only screen and (min-width: 55em) {
    .webapp-media-block-container {
        width: 100%;
    }

    .webapp-media-block {
        width: 50%;
        display: inline;
        padding: 1em;
        float: left;
    }

    #map {
        height: 60em;
    }
}

