{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans 'Geobox' %} - {% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'webapp/img/favicon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/roboto-condensed-font/css/font.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/pure-css-0.6.0/pure-nr.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/pure-css-0.6.0/grids-responsive.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/lobibox/css/lobibox.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/addons/pace/pace.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/master.css' %}" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="webapp-container">

            <!--HEADER-->
            <div class="webapp-header">
                <div class="webapp-navbar">
                    <div class="custom-wrapper pure-g" id="menu">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu">
                                <div class="pure-u-1 pure-u-md-1-3">
                                    <a href="{% url 'map:index' %}" class="pure-menu-heading custom-brand">
                                        <h4 class="webapp-logo">GeoBox</h4>
{#                                        <img class="webapp-logo" src="{% static 'webapp/img/webapp-logo.png' %}">#}
                                    </a>
                                </div>
                                <div id="toggle" class="custom-toggle">
                                    <s class="bar"></s>
                                    <s class="bar"></s>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu pure-menu-horizontal custom-can-transform webapp-navbar-center">
                                <ul class="pure-menu-list">
                                    <li class="pure-menu-item {% block webapp-navbar-maps %}{% endblock %}">
                                        <a class="pure-menu-link" href="{% url 'map:index' %}">{% trans 'Maps' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
                                <ul class="pure-menu-list">
                                    {% if user.is_authenticated %}
                                        <li class="pure-menu-item {% block webapp-navbar-profile %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_profile' user.username %}">{{ user.full_name }}</a>
                                        </li>
                                        <li class="pure-menu-item {% block webapp-navbar-logout %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>
                                        </li>
                                    {% else %}
                                        <li class="pure-menu-item {% block webapp-navbar-login %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_login' %}">{% trans 'Sign In' %}</a>
                                        </li>
                                        <li class="pure-menu-item {% block webapp-navbar-signup %}{% endblock %}">
                                            <a class="pure-menu-link" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CONTENT-->
            <div class="webapp-content">
                {% block body-full %}{% endblock %}
            </div>
            <div class="webapp-content-rows">
                {% block body %}{% endblock %}
            </div>

            <!--FOOTER-->
            <div class="webapp-footer">
{#                <div class="webapp-footer-top">#}
{#                </div>#}
                <div class="webapp-footer-bottom">
                    {% trans "Design and programming by" %}&nbsp;Dejan Knežević
                </div>
            </div>
            <script src="{% static 'webapp/js/jquery-3.1.0.min.js' %}"></script>
            <script src="{% static 'webapp/js/jquery.form.js' %}"></script>
            <script src="{% static 'webapp/addons/js-cookie/js.cookie.js' %}"></script>
            <script src="{% static 'webapp/addons/lobibox/js/lobibox.js' %}"></script>
            <script src="{% static 'webapp/addons/lobibox/js/messageboxes.js' %}"></script>
            <script src="{% static 'webapp/addons/lobibox/js/notifications.js' %}"></script>
            <script src="{% static 'webapp/addons/pace/pace.min.js' %}"></script>
            <script src="{% static 'webapp/addons/jquery-validation/jquery.validate.js' %}"></script>
            <script src="{% static 'webapp/js/csrf.js' %}"></script>
            <script src="{% static 'webapp/js/navbar.js' %}"></script>
            {% include 'webapp/validation-initialization.html' with LANGUAGE_CODE=LANGUAGE_CODE %}
            {% if request.user.is_authenticated %}
                {% include 'webapp/upload-progress-initialization.html' %}
            {% endif %}
            {% include 'webapp/file-field-fix.html' %}
            {% include 'webapp/message-initialization.html' %}
            {% block js %}{% endblock %}
        </div>
    </body>
</html>
