{% extends 'webapp/master.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/map.css' %}" />
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% include 'map/map_list.html' %}
        <a href="{% url 'map:create' %}"><button>New map</button></a>
    {% else %}
        <div class="main-page">
            <h1>Welcome to GEOBOX</h1>
            <p>Sign up now to share maps with your friends</p>
        </div>
    {% endif %}
{% endblock %}
